*{
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------------------- */

.logo{
  margin-left: 30px;
  padding: 5px;
  width: 50px;
  height: 76px;
}

form{
  margin-top: 80px;
}

.construcao{
  display: block;
  margin: 15px auto;
  width: auto;
  height: 400px;
  padding: 10px;
}

.card{
  margin-top: 80px;
}

#btnEntrar{
  float: right;
}

#btnExcluir{
  float: right;
}

/*------------------------------------------------------------------  */
footer{
  background-color: #4D495B;
  clear: both;
  width: 100%;
  height: 79px;
  bottom: 0;
  margin-top: 100px;

}

footer p{
  color: #fff;
  text-align: center;
  padding-top: 30px;
}
.linkTelaAlterar{
	color: red;
}


@media(max-width: 576px) {
  #carouselExampleControls{
    display: none;
  }

  form{
    margin-top: 130px;
  }

  footer{
    background-color: #4D495B;
    clear: both;
    width: 100%;
    height: 90px;
    margin-top: 150px;

  }

  .card-deck{
    margin-bottom: 0px;
  }
