*{
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------------------- */

.logo{
  margin-left: 30px;
  padding: 5px;
  width: 50px;
  height: 76px;
}

form{
  margin-top: 80px;
}
/*------------------------------------------------------------------  */
footer{
  background-color: #4D495B;
  clear: both;
  width: 100%;
  height: 60px;
  margin-top: 30px;
}

footer p{
  color: #fff;
  text-align: center;
  padding-top: 15px;
}



@media(max-width: 576px) {
  #carouselExampleControls{
    display: none;
  }

  .card-deck{
    margin-top: 80px;
  }

  @media(max-width: 414px){
    footer{
      background-color: #4D495B;
      clear: both;
      width: 100%;
      height: 60px;
      margin-top: 150px;
    }
  }
}
