*{
  margin: 0;
  padding: 0;
}
.espaco {
  margin-left: 50px;
}
/* --------------------------------------------------------------- */

.logo{
  margin-left: 30px;
  padding: 5px;
  width: 50px;
  height: 76px;
}

form{
  margin-top: 68px;
}
/*------------------------------------------------------------------  */
footer{
  background-color: #4D495B;
  clear: both;
  width: 100%;
  height: 50px;
  bottom: 0;
  position: absolute;
  margin-top: 30px;
}

footer p{
  color: #fff;
  text-align: center;
  padding-top: 15px;
}

#error
{
  border: 2px solid red;
}

#success
{
  border: 2px solid green;
}

@media(max-width: 576px) {
  #carouselExampleControls{
    display: none;
  }

  form{
    margin-top: 118px;
  }

  .btn:not([disabled]):not(.disabled){
    display:  block;
    margin: 10px auto;
  }

  @media(max-width: 576px) {
    #carouselExampleControls{
      display: none;
    }

    .card-deck{
      margin-top: 80px;
    }

    @media(max-width: 414px){
      footer{
        background-color: #4D495B;
        clear: both;
        width: 100%;
        height: 50px;
        bottom: 0;
        position: absolute;
      }

    }
