
  .chatBox{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    margin: 40px;
    margin-bottom: 0;
    font-size: 13px;
  }
  .chat-content{
    overflow: auto;
    height: 300px;
  }
  .chatBox .card{
    border-radius: 4px;
  }
  .chatBox .card-header{
    background: #3399ff;
    border-radius: 10px 10px 0 0;
  }
  .header-title{
    height: 50px;
  }
  .card-header-title i{
    font-size: 10px;
    color: #32e4cd;
    margin-right: 6px;
  }
  .card-header .card-header-title{
    color: #FFF;
    margin: 0px;
    
  }
  .chat-content small{
    margin: 0;
  }
  .chat-content p{
    background: #ecf1f8;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 0;
  }
  .my-content .media-content{
    width: 80%;
  }
  .my-content .message{
    float: right;
    background: #3399ff;
    color: #FFF;
    text-align: right;
    padding: 10px;
    margin-bottom: 4px;
    font-size: 13px;
  }
  .my-content .chat-content small{
    float: right;
  }
  .my-content small{
    display: block;
    float: right;
    width: 100%;
    text-align: right;
  }
  .chat-textarea{
    font-size: 14px;
    padding: 8px;
    height: 40px;
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
  }

  .chat-message-group .chat-messages{
    float: left;
    width: 80%;
    margin-bottom: 20px;
  }
  .chat-message-group .message{
    float: left;
    padding: 10px;
    background: #ecf1f8;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 3px;
  }
  .chat-messages .from{
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 11px;
  }
  .writer-user .chat-messages{
    float: right;
    width: 100%;
  }
  .writer-user .chat-messages .message{
    float: right;
    background: #3399ff;
    color: #FFF;
  }
  .writer-user .chat-messages .from{
    float: left;
    display: block;
    width: 100%;
    text-align: right;
  }
  .chat-message-group .typing {
    float: left;
  }
  .typing{
    width: 70%;
  }
  .chatBox .card-header-icon i{
    color: #FFF;
    font-size: 13px;
  }
  /* CSSS */
  .outside-box{
    height: 100px;
    background: #3399ff;
    width: 200px;
    margin: 20px;
    overflow: auto;
  }
  .outside-box .content-insider{
    height: 300px;
    background: #3399ff;
  }
  /* CSS Spinner */
  .spinner {
    margin: 0 30px;
    width: 29%;
    text-align: center;
  }
  
  .spinner > div {
    width: 4px;
    height: 4px;
    background-color: #888;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  /* EmojiBox */
  .emojiBox{
    width: 150px;
    margin: 30px;
  }
  .emojiBox .box{
    height: 100px;
    padding: 4px;
  }
  /* */
  .card-header-title img{
    border-radius: 40px;
  }
  form {
    display: inline-block;
    padding: 4px;
    width: 100%;
  }
  
  form > input {
    border: none
  }
  
  form > button {
    background: royalblue;
    border: none;
    color: #fff;
    padding: 4px 10px
  }
  

  .chat-camp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .chat-camp textarea {
    width: 90%;
    resize: none;
    border-color: #3399ff;
    border-radius: 10px;
    outline: none;
    color: #333;
    padding: 10px 20px;
    transition: all 300ms ease;
  }
  
  .chat-camp textarea:focus,
  .chat-camp textarea:active {
    border-color: #3399ff;
    transform: scale(1.01);
  }
  
  .chat-camp a {
    display: block;
    margin-left: 10px;
    background-color: #3399ff;
    color:white;
    box-shadow: 0 0 5px #333;
    padding: 7px 14px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: 18px;
    transition: all 300ms ease;
    text-decoration: none;
  }
  
  .chat-camp a:hover,
  .chat-camp a:focus,
  .chat-camp a:active {
    box-shadow: 0 0 10px #333;
    transform: scale(1.05);
  }
  #contorno{
    border: solid 1px grey;
    border-radius: 10px;
  }